<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SendKeys" value="%|y|y2"/>
    <add key="DefaultPath" value="C:\Users\Administrator\Documents\Presentations\"/>
    <add key="KillProcessList" value="POWERPNT|iexplore|XMP|mplayerc"/>
    <add key="PPTCore" value="Microsoft PowerPoint 2010"/>
    <add key="UseLog" value="true"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
