<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- 数据库连接 -->
		<add name="ConnString" connectionString="server=.;uid=sa;pwd=huijing$%^789;database=EmailList;" providerName="SqlServer"/>
	</connectionStrings>
	<appSettings>
		<!-- 开启日志 -->
		<add key="UseLog" value="true"></add>
		<!-- 日志文件路径 -->
		<add key="LogPath" value=""></add>
		<!-- smtp服务器地址 -->
		<add key="SmtpServer" value="smtp.163.com"></add>
		<!-- smtp端口 -->
		<add key="SmtpPort" value="25"></add>
		<!-- smtp账号 -->
		<add key="UserName" value="cexo255"></add>
		<!-- smtp密码 -->
		<add key="Password" value="cexo851029"></add>
		<!-- 发件人地址 -->
		<add key="FromAddress" value="&quot;熊华春&quot;&lt;cexo255@163.com&gt;"></add>
		<!-- 每次读记录数 -->
		<add key="RecordCount" value="5"></add>
		<!-- 时间间隔 -->
		<add key="TimeInterval" value="10"></add>
		<!-- 以HTML发送 -->
		<add key="IsBodyHtml" value="true"></add>
		<!-- Ssl -->
		<add key="Ssl" value="false"></add>
		<!-- 如果发送失败，设置重发次数 -->
		<add key="Retries" value="3"></add>
		<!-- 重发延时（毫秒） -->
		<add key="Timeout" value="5000"></add>
		<!-- 只发送最近几天的邮件，删除过期的邮件 -->
		<add key="ExpireDay" value="3"></add>
    
    
		<!-- 可为空/Pub.Class.Email.SmtpClient.SendEmail,Pub.Class.Email.SmtpClient/Pub.Class.Email.SmtpMail.SendEmail,Pub.Class.Email.SmtpMail -->
		<!-- Pub.Class.Email.TcpClient.SendEmail,Pub.Class.Email.TcpClient/Pub.Class.Email.CDOMessage.SendEmail,Pub.Class.Email.CDOMessage/Pub.Class.Email.Blat.SendEmail,Pub.Class.Email.Blat -->
		<add key="EmailProviderName" value=""></add>
		
		<add key="SelectListByTop" value="select top {0} EmailID,Subject,Body,Email from EmailList order by EmailID asc"></add>
		<add key="DeleteByIDList" value="delete from EmailList where EmailID in ({0})"></add>
		<add key="InsertSendHistry" value="insert into EmailSendHistory(Email,Body,Subject) values('{0}','{1}','{2}')"></add>
		<add key="ClearExpireEmail" value="delete from EmailList where CreateTime&lt;'{0}'"></add>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
