/logs/*
/.idea/
*.userprefs
/Pub.Class.Release/*
/Pub.Class.Release/bin/*
pdfbg/obj/
office2pdf/obj/
multiple_threads/obj/
ispring2swf/obj/
SendEmailTest/SendEmailTest/obj/
SendEmailTest/Pub.Class.Release/
Pub.Class/obj/
Pub.Class.Excel.OleDb/obj/
Pub.Class.Email.TcpClient/obj/
Pub.Class.Excel.MyXls/obj/
Pub.Class.Log4Net/obj/
Pub.Class.IonicZip/obj/
Pub.Class.MemcachedCache/obj/Debug/Pub.Class.MemcachedCache.StringMessages.resources
Pub.Class.MemcachedCache/obj/
Pub.Class.Excel.NPOI/obj/
Pub.Class.MemoryCache/obj/Debug/Pub.Class.MemoryCache.pdb
Pub.Class.MemoryCache/obj/
Pub.Class.Excel.COM/obj/
Pub.Class.MsgPack/obj/
Pub.Class.Email.SmtpClient/obj/
Pub.Class.Email.CDOMessage/obj/
Pub.Class.Email.SmtpMail/obj/
Pub.Class.MySql/obj/
Pub.Class.OAuth/obj/
Pub.Class.Email.Blat/obj/
Pub.Class.Odbc/obj/
Pub.Class.Protobuf/obj/
Pub.Class.Access/obj/
Pub.Class.OleDb/obj/
Pub.Class.SQLite/obj/
Pub.Class.NewtonsoftJson/obj/
Pub.Class.Oracle/obj/
EntityTool/obj/
Pub.Class.NetSerializer/obj/
Pub.Class.URLRewriter/obj/
Pub.Class.VideoShare/obj/
EntityTool2.0.suo
Pub.Class.SqlServer/obj/
Pub.Class.SharpZip/obj/
Pub.Class.WebCache/obj/
EmailService/obj/
Pub.Class.WinRAR/obj/
ToSwfService/obj/
Pub.Class.VelocityCache/obj/
Pub.Class.ToSwfWCF/obj/
Pub.Class.ToSwf/obj/
Pub.Class.ServiceStackText/obj/
Pub.Class.RedisCache/obj/
Pub.Class.AppFabricCache/obj/
Pub.Class.Mongodb/obj/
EntityTool3.5.suo
EntityTool/bin/EntityTool.exe
EntityTool/bin/EntityTool.pdb
EntityTool/bin/Pub.Class.dll
EntityTool/bin/Pub.Class.pdb
EntityTool/bin/Pub.Class.xml
