<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ErrorTimer" value="360"></add>
		<add key="UseLog" value="true"></add>
		
		<add key="UsePaper" value="flexpaper"></add>
		<add key="UsePaperSplit" value="false"></add>
		<add key="UseWatermark" value="false"/>
		<add key="WatermarkPosition" value="9"/>
		<add key="WatermarkImage" value="w.png"/>
		
		<add key="UseiSpring" value="multiple_threads"/>

		<add key="ffmpegExt" value="*.asf;*.avi;*.mpg;*.3gp;*.mov;*.asx;*.wmv;*.mp4;"></add>
		<add key="mencoderExt" value="*.rmvb;*.rm;"></add>
		<add key="officeExt" value="*.doc;*.docx;*.xls;*.xlsx;*.ppt;*.pptx;*.pdf;*.dot;*.dotx;*.docm;*.dotm;*.xlsm;*.pptm;*.vsd;*.pub;*.pdf;"></add>
		<add key="ispringExt" value="*.ppt;*.pptx;"></add>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Pub.Class.ToSwfWCF.ToSwfService">
				<endpoint address="http://127.0.0.1:7778/Pub.Class.ToSwfWCF.ToSwfService" binding="mexHttpBinding" bindingConfiguration="" contract="Pub.Class.ToSwfWCF.IToSwf"></endpoint>
			</service>
		</services>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
